/* Default styles */

.body {
  background-color: aliceblue;
}

.job-list-container {
  max-width: 800px;
  margin: 0 auto;
}

.job-list-container h1 {
  text-align: center;
  padding-top: 5px;
}

.job-list {
  margin-top: 20px;
}

.job-item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.job-item h2 {
  margin-bottom: 5px;
}

.job-item p {
  margin-bottom: 5px;
}

.delete-button {
  height: 22px;
  width: 80px;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: beige;
}


@media (max-width: 768px) {

  .job-list-container {
      padding: 0 10px;
  }

  .job-item {
      padding: 8px;
  }
  .job-list{
    margin-left: 7px;
  }


  .delete-button {
      width: 100%;
      padding: 5px;
      height: 3vh;
  }
}

@media (max-width: 576px) {
  .job-list-container h1 {
      font-size: 24px;
  }

  .job-item {
      padding: 6px;
  }

  .delete-button {
      width: 100%;
      height: 30px;
      font-size: 14px;
  }
}
